body {
  margin: 0;
  background-color: rgb(121, 78, 112);
}


header {
  background-color: #dcd8e2;
  padding: 2px ;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand{
  font-size: 20px;
  padding: 5px 0;
  margin-right: 250px;

}

.navbar-brand{
  text-decoration: none;
  font-family:'DM Sans', sans-serif; 
  font-size: 20px;
  padding: 5px;
  color:rgb(35, 35, 46); ;
}
.nav-link {
  text-decoration: dashed;
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  color: rgb(35, 35, 46);
  padding: 5px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #797944; 
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.nav-item {
  margin-right: 30px;
  align-items: center;
}




.nome{
  color: aqua;
}

